fastapi
uvicorn
sqlalchemy
pymysql
cryptography
passlib[bcrypt]
pyjwt
python-multipart
streamlit
langgraph
langchain
langchain-community
langchain-core
langchain-ollama
langchain-openai
sentence-transformers
chromadb
pymupdf
python-dotenv
requests
pydantic
pydantic-settings
